<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    
    <img height="450" width="300" src="<%= book.coverImagePath %>">

    <h2><%= book.title %></h2>
    <div class="content">
      
      <div class="author">
        <label for="author">Author:</label>
        <span><%= book.author %><span>
      </div>
      <div class="category">
        <label for="category">Category:</label>
        <span><%= book.category %><span>
      </div>
      
      <div class="rating">
        <label for="rating">Rating:</label>
        <div class="stars-outer">
          <div class="stars-inner"></div>
        </div>
        <span class="number-rating"><%= book.rating %></span>
      </div>

      <div class="description">
        <label for="description">Short Description:</label>
        <p><%= book.description %></p>
      </div>

      
      
    </div>

    
    
    <a class="edit-btn" href="/books/<%=book._id %>/edit">Edit</a>
  </div>

  <%- include("./partials/footer.ejs") %>


  <script>
    const starsTotal = 5;
    const bookRating = '<%= book.rating %>';
    const starPercentage = (bookRating / starsTotal) * 100;
    const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;
    document.querySelector('.stars-inner').style.width = starPercentageRounded;
   </script>


</body>
</html>