<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="edit-book content">
    <form action="/books/<%= book._id %>" method="POST">
      <label for="title">Book title:</label>
      <input type="text" name="title" value="<%=book.title%>" required>
      <label for="author">Book author:</label>
      <input type="text" name="author" value="<%=book.author%>" required>
      <label for="category">Book category:</label>
      <input type="text" name="category" value="<%= book.category %>" required>
      <div class="rating">
        <label for="rating">Rating:</label>
        <input type="number" name="rating" value="<%= book.rating %>" step="0.1" max="5" required>
      </div>
      <label for="description">Book description:</label>
      <textarea name="description" required><%=book.description%></textarea>
      <button>Save Changes</button>

      <a class="delete-btn" data-doc="<%= book._id %>">Delete Book</a>
    </form>

    
  </div>

  <%- include("./partials/footer.ejs") %>

    <script>
    const delBtn = document.querySelector('a.delete-btn');

    delBtn.addEventListener('click', (e) => {
      const endpoint = `/books/${delBtn.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>

</body>
</html>